.git
.gitignore
.github
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache
/storage/framework/views
/storage/app
/docker
/tests
/vendor
.env
.env.ci
.devcontainer
.vscode
.editorconfig
.styleci.yml
docker-compose.yml
pint.json
phpcs.xml
phpunit.xml
.phpunit.result.cache
.phpstorm.meta.php
.editorconfig
*.log
